@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');

:root {
    --main-color: #06a89d;
    ;
    --black: #222;
    --white: #fff;
    --light-black: #777;
    --light-white: #fff9;
    --dark-bg: rgba(0, 0, 0, .7);
    --light-bg: #eee;
    --border: .1rem solid var(--black);
    --box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    --text-shadow: 0 1.5rem 3rem rgba(0, 0, 0, .3);
    --color-1: #2f3240;
}

* {
    font-family: "Poppins", sans-serif;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    background-color: #FFFFFF
}

section {
    padding: 5rem 10%;
}

.home {
    padding: 0;
}



/*Navigation bar starts here */
ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1170px;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.align-items-center {
    align-items: center;
}

.justify-content-between {
    justify-content: space-between;
}

/*header*/
.header {
    background-color: #151D3B;
    padding: 12px 0;
    line-height: 1.5;
}

.header .logo,
.header .nav {
    padding: 0 15px;
}

.header .logo a {
    font-size: 30px;
    color: #ffffff;
    text-transform: capitalize;
    font-family: 'lucida handwriting',cursive;
}

.header .nav ul li {
    display: inline-block;
    margin-left: 40px;
}

.header .nav ul li a {
    display: block;
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    padding: 5px 5px;
    transition: all 0.5s ease;
}

.header .nav ul li a.active,
.header .nav ul li a:hover {
    color: #f3a93d;
}

.nav-toggler {
    height: 34px;
    width: 44px;
    background-color: #ffffff;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    display: none;
    margin-right: 15px;
}

.nav-toggler:focus {
    outline: none;
    box-shadow: 0 0 15px #ffffff80;
}

.nav-toggler span {
    height: 2px;
    width: 20px;
    background-color: var(--color-1);
    display: block;
    margin: auto;
    position: relative;
    transition: all 0.3s ease;
}

.nav-toggler.active span {
    background-color: transparent;
}

.nav-toggler span::before,
.nav-toggler span::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-1);
    transition: all 0.3s ease;
}

.nav-toggler span::before {
    transform: translateY(-6px);
}

.nav-toggler.active span::before {
    transform: rotate(45deg);
}

.nav-toggler span::after {
    transform: translateY(6px);
}

.nav-toggler.active span::after {
    transform: rotate(135deg);
}

@media(max-width:768px) {
    .nav-toggler {
        display: block;
    }

    .header .nav {
        width: 100%;
        padding: 0;
        max-height: 0px;
        overflow: hidden;
        visibility: hidden;
        transition: all 0.5s ease;
    }

    .header .nav.open {
        visibility: visible;
    }

    .header .nav ul {
        padding: 12px 15px 0;
        margin-top: 12px;
        border-top: 1px solid rgba(255, 255, 255, 0.2);
    }

    .header .nav ul li {
        display: block;
        margin: 0;
    }
}

.lbtn {
    display: inline-block;
    background: #ffa500;
    color: #fff;
    margin-top: 1rem;
    font-size: 1.7rem;
    padding: 5px 35px;
    left: 0px;
    border: 0.2rem solid #ffa500;
    border-radius: 50em;
    cursor: pointer;
    text-decoration: none;
    text-transform: capitalize;
    text-align: center;
}



.lbtn:hover {
    background: rgba(255, 165, 0, 0.2);
    color: #ffa500;
}


/*navigation bar ends here*/

#faqhedding {
    margin-top: 15%;
    padding-left: 44%;
    font-size: 50px;
}


.topbox {
    width: 320px;
    margin: 5% 50px 50px 50px;
    background: #fff;
    border-radius: 40px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .3);
    display: inline-block;
}

.botombox {
    width: 320px;
    margin: 50px 50px 400px 50px;
    background: #fff;
    border-radius: 40px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .3);
    display: inline-block;
}






details {
    background: #f6f6f6;
    padding: 10px 20px;
    border-radius: 40px;
    font-family: "Rubik";
    font-size: 14px;
    letter-spacing: 1px;
    cursor: pointer;
}


.botombox:hover {

    box-shadow: 5px 7px 7px rgba(0, 0, 0, .3);
}

.topbox:hover {
    box-shadow: 5px 7px 7px rgba(0, 0, 0, .3);
}


details summary {
    outline: none;
}


body {
    line-height: 1.5;
    font-family: 'poppins', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1170px;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

ul {
    list-style: none;
}

/*footer*/
.footer {
    background-color: #151D3B;
    padding: 70px 0;
}

.footer-col {
    width: 25%;
    padding: 0 15px;
}

.footer-col h4 {
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.footer-col h4::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #ffa500;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300px;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover {
    color: #ffffff;
    padding-left: 8px;
}

.footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
    color: #24262b;
    background-color: #ffa500;
}

.content h3 {
    text-transform: capitalize;
}

/*responsive*/
@media(max-width:767px) {
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }
}

@media(max-width: 574px) {
    .footer-col {
        width: 100%;
    }
}

.logo img {
    position: absolute;
    margin-top: 8px;
    margin-left: 30px;
}